.App{
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 12% auto;
  grid-template-areas:
  'header header'
  'navbar main'
  'navbar article'
}

header{
background-color: aquamarine;
  grid-area: header;
  text-align: center;
}

nav{
  background-color: aqua;
  grid-area: navbar;
}

main{
  background-color: rgb(166, 206, 155);
  grid-area: main;
}

article{
  background-color: beige;
}

select{
  font-size: 20px;
      font-weight: 700;
      padding: .6em 1.4em .5em .8em;
      box-sizing: border-box;
      background-color: rgb(220, 194, 194);
      border: 10px solid #aaa;
    

}
#user{
  text-align: right;
  color: brown;
}

